# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/System files
.DS_Store
Thumbs.db

# IDE config
.vscode/
.idea/

# Build and output
dist/
build/

# Cache
.cache/
.next/
out/
.temp/

# Supabase hidden files
.supabase/

# Misc
*.local
